@media (min-width: 1024px) {
  #menuLabel {
    display: none !important;
  }
}

#menuLabel {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.125rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.125rem;
}
